.git
.gitignore
.dockerignore
.venv
.env
.env.postgres
.python-version
.pytest_cache

__pycache__
*.py[oc]
*.egg-info

*.db

docker-compose.yaml
Dockerfile
traefik.yaml

uv.lock
pyproject.toml
collectstatic

README.md
Coursework 1 DSCC.pdf
