asgiref==3.11.1
black==26.1.0
click==8.3.1
django==6.0.2
django-stubs==5.2.9
django-stubs-ext==5.2.9
gunicorn==25.0.3
iniconfig==2.3.0
mypy-extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
psycopg==3.3.2
psycopg-binary==3.3.2
pygments==2.19.2
pytest==9.0.2
pytest-django==4.11.1
python-decouple==3.8
pytokens==0.4.1
sqlparse==0.5.5
types-pyyaml==6.0.12.20250915
typing-extensions==4.15.0
whitenoise==6.11.0
